/* navbar.component.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }
  
  .logo {
    font-size: 20px;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-links a {
    margin-right: 15px;
    color: #fff;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  